@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-oswald: 'Oswald', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';
}

@import "tailwindcss";

@config '../tailwind.config.js';
